{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{%block header %}Welcome to the Video Game Database{% endblock %}}

{% block content %}
    <p>
        Here you will find all the information you need about video game sales over the past 7 years.
    Search by game title, *akldfjghad*, or compare publishers' success on each console.
    </p>
    <p>
        The chart below shows the number of game copies, in millions, sold worldwide for each console since 2013.
    </p>
    <div>
        <canvas id="myChart"></canvas>
    </div>
<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {labels: {{all_platforms|safe}},
        datasets: [{
            label: 'Game Copies per Platform (Millions)',
            data: {{copies}},
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endblock %}
