{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{%block header %}This is my index page!{% endblock %}}

{% block content %}
    <p>{{all_platforms}}</p>
    <p>{{copies}}</p>
    <p>{{game}}</p>
    <p>{{message}}</p>
    <div>
        <canvas id="myChart" width="100" height="100"></canvas>
    </div>
{% endblock %}

<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {labels: {{all_platforms|safe}},
        datasets: [{
            label: 'Game Copies per Platform',
            data: {{copies}},
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
</html>