{% extends 'base.html' %}
{% block title %}Search By Title{% endblock %}
{%block header %}Search By Game Title{% endblock %}}

{% block content %}
<div class="justify-content-center text-center">
    <form action="" method="post" class="justify-content-center">
        {% csrf_token %}
        Title: <input type="text" name="title" id="title"><br><br>
        <input type="submit" value="Search">
    </form>
</div>
{% if game == 'none found' %}
<br>
<p class="text-center">There are no games with that title, try again.</p>
{% elif game is not None %}
<br>
<h2 class="text-center">Showing entries for {{game.0.name}}</h2>
<div class="table-responsive">
    <table class="table w-auto small table-striped text-center" style="width:100%">
        <thead>
            <tr>
                <th class="col-1">Rank</th>
                <th class="col-1">Name</th>
                <th class="col-1">Platform</th>
                <th class="col-1">Year</th>
                <th class="col-1">Genre</th>
                <th class="col-1">Publisher</th>
                <th class="col-1">U.S. Sales</th>
                <th class="col-1">E.U. Sales</th>
                <th class="col-1">Japan Sales</th>
                <th class="col-1">Other Sales</th>
                <th class="col-1">Global Sales</th>
                <th class="col-1">Version</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in game %}
            <tr>
                {% for key,value in entry.items %}
                {% if key != '_id' %}
                <td>{{value}}</td>
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <canvas id="myChart"></canvas>
</div>
<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {labels: {{platforms|safe}},
        datasets: [{
            label: 'Global Sales per Platform (Millions)',
            data: {{sales}},
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endif %}
{% endblock %}